.transaction-buy{
    background-color: #32CD30;
}

.transaction-sell{
    background-color: #F83839;
}

.mat-list-item{
  padding: 10px;
  width: 70%;
  align-self: center;

}

.mat-card{

  text-align: center;
  width:500px;

}
