
<mat-toolbar color="primary">
  <span>STOCKAPP</span>
  <a mat-button><span class="fa fa-home fa-lg"></span> Trade Stock</a>
  <a mat-button><span class="fa fa-info fa-lg"></span> Transaction</a>

</mat-toolbar>

<div class="container"
    fxLayout="column"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">
      <mat-card>
          You purchased 3 stocks of company A
      </mat-card>
  </div>


</div>


