<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex>
         <h2>Transactions</h2>
         <hr>
     </div>

  <mat-list>
    <mat-list-item *ngFor="let transaction of transactions">
        <div *ngIf="transaction.transcType === 'buy'">
            <mat-card class="transaction-buy"><h3 matLine>You purchased {{transaction.noOfStocks}} stocks of company {{transaction.company}}</h3></mat-card>
        </div>
        <div *ngIf="transaction.transcType === 'sell'">
            <mat-card class="transaction-sell"><h3 matLine>You sold {{transaction.noOfStocks}} stocks of company {{transaction.company}}</h3></mat-card>
        </div>
      
    </mat-list-item>
  </mat-list>

</div>


