.example-card{
    background-color: white;
    box-shadow: 5px 5px gainsboro;
    color: black;
    }
  
  .stock-table{
    text-align: left;
    padding: 2%;
  
  }
  
  
  tr, th{
    margin: 5%;
    padding: 5%;
  }
  
  .stock-no{
    width: 20px;
    height: 20px;
  }
  
  .buy{
    background-color: #D0D0D0;
    width: 45%;
    color: white;
  }
  
  .sell{    
    background-color: #D0D0D0;
    width: 45%;
   color: white;
  }