.example-card{
  background-color: #C197D2;
}

.stock-table{
  text-align: left;
  padding: 2%;

}



tr, th{
  margin: 5%;
  padding: 5%;
}

.stock-no{
  width: 20px;
  height: 20px;
}

.buy{
  background-color: #32CD30;
}

.sell{
  background-color: #F83839;
}